.home {
    height: 80vh;
    background: url('../../public/images/Home/home-bg.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
}

.home .home-information {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

.home .home-information .home-title {
    font-size: 50px;
    font-weight: bold;
    color: var(--dark-color);
}

.home .home-information .home-info {
    font-size: 35px;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.home .home-information .home-desc {
    font-size: 20px;
    line-height: 1.5;
    color: #808080;
    margin-bottom: 20px
}

.home .home-information .home-desc span {
    color: var(--dark-color);
    font-weight: bold;
}


@media (max-width: 850px) {
    .home .home-information {
        width: 90%;
        padding: 0 20px;
    }
}

@media (max-width:768px) {
    .home .home-information .home-title {
        font-size: 40px;
    }
    
    .home .home-information .home-info {
        font-size: 20px
    }
    
    .home .home-information .home-desc {
        font-size: 15px
    }
}

@media (max-width:575px) {
    .home .home-information .home-title {
        font-size: 30px;
    }
}
